/* body{
    background-color: rgb(185, 136, 72);
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_lomsVuoCo_5IsAmNf7ks41BCRhWRBtH_BA&s);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
    background-size: cover;
    backface-visibility: hidden;
} */

.g{
    color:black;
    font-size: medium;
    font-weight: 500;
}

p:hover{
    color: rgba(200, 150, 200, 1);
    font-size: medium;
    font-weight: 500;
}

h1{
    color:goldenrod;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-style: initial;
    font-weight: 200;
}

h2{
    color: #ff000f;
}

img{
    border-width: 10px 10px;
    border-color: black;
    border-style: double ;
    border-radius: 200px;
}